@page
@{ ViewData["Title"] = "Not Found"; }

<div style="text-align:center;"><h1>Oops... that applicant wasn't found</h1></div>

<div style="text-align:center;"><a class="btn btn-outline-secondary" onclick="goBack()">Go Back</a></div>
<script>function goBack() {
  window.history.back();
}</script>
