@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Hi There!</h1>
    <p>Thanks for checking out my project. Just click "Applicant Tracker" above to see how it functions! Make sure to check out the README on how to build the database, as right now it's simply using in-memory data.</p>
</div>
